#Home {
    /* border: 2px solid grey; */
    width: 100%;
    background-color: #FFA45B;
    padding: 8%;
}

.title-main {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.title-text {
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 4px;
    line-height: 2;
    margin: 15% 3% 0 0;
    /* border: 1px solid black; */
}

.heading{
    font-weight: 800;
    font-size: 3rem;
    color: #b25f1b;
    /* border: 1px solid black; */
}

.sub-heading {
    font-size: 2rem;
    color: #fff2cd;
}

#Home img {
    margin: 12% 0 0;
}

@media (max-width:1000px) {
    .title-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-text {
        text-align: center;
    }
}

@media (max-width:650px) {
    .heading {
        width: 90%;
        height: auto;
        font-size: 2.4rem;
        margin-left: 2%;
        line-height: 1.6;
    }

    .sub-heading {
        font-size: 1.3rem;
    }

    img {
        width: 70%;
    }

    .title-text {
        text-align: center;
    }
}

@media (max-width:470px) {
    .heading {
        font-size: 1.7rem;
        /* padding-left: 10%; */
        line-height: 1.6;
        width: 100%;
    }

    .sub-heading {
        font-size: 0.9rem;
    }

    .title-text {
        text-align: center;

    }
}